<% if peek_enabled? %>
<div id="peek" class="<%= Peek.env %><%= ' disabled' if cookies[:peek] == 'false' %>" data-request-id="<%= peek_request_id %>">
  <div class="wrapper">
    <% Peek.views.each do |view| %>
      <div id="<%= view.dom_id %>" class="view">
        <%= render view.partial_path, view: view %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
