<% if peek_enabled? %>
<span id="peek-results" class="hidden"
  data-request-id="<%= Peek.request_id %>"
  <% Peek.views.each do |view| %>
    <% view.results.each do |key, value| %>
    data-<%= view.defer_key %>-<%= key %>="<%= value %>"
    <% end %>
  <% end %>
>
</span>

<% Peek.views.each do |view| %>
  <% if view.context? %>
    <span id="<%= view.context_dom_id %>" data-context='<%= raw(view.context.to_json) %>'></span>
  <% end %>
<% end %>
<% end %>
